.custom_bg{
  background: rgb(34,24,214);
background: linear-gradient(36deg, rgba(34,24,214,1) 19%, rgba(53,64,112,1) 100%, rgba(7,42,103,1) 100%);
}
.custom_color{
  color: rgb(34,24,214);
  color: linear-gradient(36deg, rgba(34,24,214,1) 19%, rgba(53,64,112,1) 100%, rgba(7,42,103,1) 100%);
}

.custom_shadow{
  box-shadow: 1px 1px 20px rgb(198, 193, 252), -1px -1px 20px rgb(198, 193, 252);
}


.wrapper{
  margin-bottom: 2rem;
  border: 1.5px solid rgb(51, 41, 194);
  border-radius: 15px;
  font-weight: 600;
  overflow: hidden;
}